<app-nav></app-nav>
<section>
<div class="login-page">
    <div class="form">
      <h2 style="color:#2eb872;">สมัครสมาชิก</h2>
      <form class="login-form">
        <input type="text" placeholder="ชื่อผู้ใช้"/>
        <input type="password" placeholder="รหัสผ่าน"/>
        <input type="password" placeholder="ยืนยัน - รหัสผ่าน"/>
        <input type="text" placeholder="อีเมล"/>
        <input type="text" placeholder="อายุ"/>
        <input type="text" placeholder="ที่อยู่"/>
        <input type="text" placeholder="เบอร์โทร"/>
        <button>ลงทะเบียน</button>
      </form>
    </div>
  </div>
</section>
