<app-nav-login></app-nav-login>
<app-nav-admin></app-nav-admin>
<section style="margin-left:15%;padding:1px 16px;height:1000px;">

<div class="bg-s">

    <div class="login-page">
        <div class="form">
          <h2 style="color:#2eb872;">การจัดสาขา</h2>
          <form class="login-form">
            <input type="text" placeholder="รหัส - สาขา"/>
            <input type="text" placeholder="่ชื่อ - สาขา"/>
            <input type="text" placeholder="ที่ตั้ง - สาขา"/>
            <button class="">เพิ่ม</button>
            <button class="button p2">แก้ไข</button>
            <button class="button p3">ลบ</button>
          </form>
        </div>
      </div>

      <div class="bg-borad">
          <h3>สาขา</h3><h1> 2 สาขา</h1>
        </div>

<br>
<br>

<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> รหัส - สาขา </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - สาขา </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> ที่ตั้ง - สาขา </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>


</section>
