<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul>
    <li><a routerLink="/customer">ทั่วไป</a></li>
    <li><a routerLink="/profile">ข้อมูลส่วนตัว</a></li>
    <li><a routerLink="/shop-login">สินค้า</a></li>
    <li><a routerLink="/shop-customer">ตระกร้าสินค้า</a></li>
</ul>
