<app-nav-login></app-nav-login>
<app-nav-admin></app-nav-admin>
<section style="margin-left:15%;padding:1px 16px;">
<div class="bg-s">

    <div class="login-page">
        <div class="form">
          <h2 style="color:#2eb872;">การจัดการพนักงาน</h2>
          <form class="login-form">
            <input type="text" placeholder="รหัส - พนักงาน"/>
            <input type="text" placeholder="่ชื่อ - พนักงาน"/>
            <input type="text" placeholder="่ตำแหน่ง"/>
            <input type="text" placeholder="่เงินเดือน"/>
            <input type="text" placeholder="่สาขา"/>
            <input type="text" placeholder="อายุ"/>
            <input type="text" placeholder="เพศ"/>
            <input type="text" placeholder="ที่อยู่"/>
            <input type="text" placeholder="เบอร์โทร"/>
            <button class="">เพิ่ม</button>
            <button class="button p2">แก้ไข</button>
            <button class="button p3">ลบ</button>
          </form>
        </div>
      </div>


    <div class="bg-borad">
      <h3>พนักงาน</h3><h1> 5 คน</h1>
    </div>


<br>
<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource_employee">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> รหัส - พนักงาน </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - พนักงาน </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef> ตำแหน่ง </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="money">
          <th mat-header-cell *matHeaderCellDef> เงินเดือน</th>
          <td mat-cell *matCellDef="let element"> {{element.money}} </td>
        </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> สาขา</th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_employee"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_employee;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
</section>
