body {
  margin: 0;


}

ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 100%;
  width: 12.5%;
  background-color: #2eb872;
  position: absolute;


}

li a {
  display: block;
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  text-align: left;
}

li a.active {
  background-color:#ffffff28;
  color: white;
  border-radius: 10px;
}

li a:hover:not(.active) {
  background-color: #ffffff28;
  color: white;
  border-radius: 10px;
}

.btn-login{
  background-color: hsla(0, 0%, 100%, 0.400);
  width: 20px;
  border-radius: 10px;

}


