<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div class="container">
    <a routerLink="/" class='logo'>FoodBD</a>
    <nav>
      <ul>
        <li><a class="btn-login" routerLink="/">ออกจากระบบ</a></li>
      </ul>
    </nav>
  </div>
</header>
