<app-nav></app-nav>
<section>
<div class="login-page">
    <div class="form">
      <h2 style="color:#2eb872;">ลงชื่อเข้าใช้</h2>
      <form class="login-form">
        <input type="text" placeholder="ชื่อผู้ใช้"/>
        <input type="password" placeholder="รหัสผ่าน"/>
        <button routerLink="/admin">เข้าสู่ระบบ</button>
        <p class="message">ยังไม่มี บัญชี? <a href="/registor">สร้างบัญชีผู้ใช้</a></p>
      </form>
    </div>
  </div>
</section>
