<app-nav></app-nav>
<section style="color : gray">
  <h1>ที่อยู่ :</h1>
  <h3 style="position: relative; left: 6%;">120/3 ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000</h3>
</section>
<div class="footer">
    <footer>
    <div class="container">
      <div style="position: relative;left: 120%;" class="row">
        <div  class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">ช่องทางการติดต่อ &copy; เบอร์ - 0567741xxx
            <br>
       <a href="#">ช่องทางอื่นๆ</a>.
          </p>
        </div>

        <div   class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    </footer>
</div>
