
header {
  // background: linear-gradient(to left, #ff512f, #dd2476);
  background: #2eb872;

  .logo {
      font-weight: bold;
  }

  nav {
      justify-self: right;

      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.25em;
                  text-transform: uppercase;
                  font-size: .8em;

                  &:hover {
                      background: hsla(0, 0%, 100%, 0.400);
                      border-radius: 5px;
                  }
              }
          }
      }
  }
}

.btn-login{
  background-color: hsla(0, 0%, 100%, 0.400);
  width: 20px;
  border-radius: 10px;

}
