<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div class="container">
    <a routerLink="/" class='logo'>FoodBD</a>
    <nav>
      <ul>
        <li><a routerLink="/">หน้าหลัก</a></li>
        <li><a routerLink="/store">สินค้า</a></li>
        <li><a routerLink="/contact">ติดต่อ</a></li>
        <li><a class="btn-login" routerLink="/login">เข้าสู่ระบบ</a></li>
      </ul>
    </nav>
  </div>
</header>
