<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul>
    <li><a routerLink="/em-ggeneral">ทั่วไป</a></li>
    <li><a routerLink="/em-gitem">สินค้า</a></li>
    <li><a routerLink="/em-gtarnsport">รายการจัดส่ง</a></li>
</ul>
