.box-s{
  width: 80%;
  height: 225%;
  position: absolute;
  // background-color: black;
}

.example-header-image {
  background-size: 50px;
}

// ----------- ตำเเหน่งเมนู -------------
.p-c{
  position: absolute;
  left:4.5%;
  top: 2%;
  width:25%;
  height: auto;

}

.p-c.p2{
  left:36.5%;

}

.p-c.p3{
  left: 68%;

}

.p-c.p4{
  left: 4.5%;
  top:34.65%;

}
.p-c.p4.p5{
  left: 36.5%;
}

.p-c.p4.p6{
  left: 68%;
}

.p-c.p7{
  left: 4.5%;
  top: 67.5%;
}

.p-c.p7.p8{
  left: 36.5%;
}

.p-c.p7.p9{
  left: 68%;
}
// ----------- ตัวอักษร -------------

.f-h{
  font-family: 'Kanit';
}


