<app-nav></app-nav>
<section>

<div class="box-s" >

 <!-- 1. -->
<mat-card class="p-c" >
    <mat-card-header>
      <mat-card-title class="f-h">ข้าวผัดปู</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD001
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
<!-- 2. -->
<mat-card class="example-card" class="p-c p2">
    <mat-card-header>
      <mat-card-title class="f-h">พะแนง</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD002
      </p>
      <p class="f-h">
          ราคา : 50 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
  <!-- 3. -->
<mat-card class="example-card" class="p-c p3">
    <mat-card-header>
      <mat-card-title class="f-h">ผัดไทยกุ้งสด</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/3.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD003
      </p>
      <p class="f-h">
          ราคา : 80 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>

    <!-- 4. -->
<mat-card class="example-card" class="p-c p4">
    <mat-card-header>
      <mat-card-title class="f-h">หลนปู</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD004
      </p>
      <p class="f-h">
          ราคา : 100 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
      <!-- 5. -->
<mat-card class="example-card" class="p-c p4 p5">
    <mat-card-header>
      <mat-card-title class="f-h">ข้าวซอย</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/5.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD005
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>

  <!-- 6. -->
<mat-card class="example-card" class="p-c p4 p6">
    <mat-card-header>
      <mat-card-title class="f-h">เขียวหวานไก่</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/6.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD006
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>

  <!-- 7. -->
  <mat-card class="example-card" class="p-c p7">
      <mat-card-header>
        <mat-card-title class="f-h">กะเพรา</mat-card-title>
        <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/7.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="f-h">
          รหัสสินค้า : BD007
        </p>
        <p class="f-h">
            ราคา : 40 บาท
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
        <button mat-button class="f-h">แชร์</button>
      </mat-card-actions>
    </mat-card>

    <!-- 8. -->
  <mat-card class="example-card" class="p-c p7 p8">
      <mat-card-header>
        <mat-card-title class="f-h">ไข่ตุ๋น</mat-card-title>
        <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/8.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="f-h">
          รหัสสินค้า : BD008
        </p>
        <p class="f-h">
            ราคา : 40 บาท
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
        <button mat-button class="f-h">แชร์</button>
      </mat-card-actions>
    </mat-card>


    <!-- 9. -->
    <mat-card class="example-card" class="p-c p7 p9">
        <mat-card-header>
          <mat-card-title class="f-h">ก๋วยเตี๋ยวต้มยำ</mat-card-title>
          <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/imgs/9.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="f-h">
            รหัสสินค้า : BD009
          </p>
          <p class="f-h">
              ราคา : 40 บาท
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
          <button mat-button class="f-h">แชร์</button>
        </mat-card-actions>
      </mat-card>

</div>
</section>
