
<app-nav-login></app-nav-login>
<app-nav-admin></app-nav-admin>
<section style="margin-left:16%;padding:1px 16px;height:1000px;">


<h1 style="color: #2eb872">สวัสดีผู้จัดการ</h1>

<!-- <button routerLink="/customer">ลูกค้า</button>
<button routerLink="/shop-customer">ตระกร้าสินค้า</button>
<button>ข้อมูลลูกค้า</button>

<button mat-button style="background-color: #2eb872;color: white; position:absolute;" [matMenuTriggerFor]="menu">สาขา</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>กรุงเทพ</button>
  <button mat-menu-item>พิษณุโลก</button>
</mat-menu> -->
<div class="bg-page">
<h3>สาขาทั้งหมด</h3>
<div class="bg-borad">
  <h4>สาขา</h4><h4> 2 สาขา</h4>
</div>

<br>
<h3>พนักงานทั้งหมด</h3>
<div class="bg-borad">
  <h4>พนักงาน</h4><h4> 5 คน</h4>
</div>

<br>
<h3>จำนวนลูกค้าทั้งหมด</h3>
<div class="bg-borad">
  <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
</div>
</div>

<div class="bg-page p1">
<h3>จำนวนรายการจัดส่งทั้งหมด</h3>
<div class="bg-borad">
  <h4>สินค้า</h4><h4> 9 รายการ</h4>
</div>
<br>
<h3>จำนวนสินค้า</h3>
<div class="bg-borad">
  <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
</div>

</div>

<br>
<!-- <button routerLink="/customer">ลูกค้า</button> -->
<!-- <button routerLink="/em-ggeneral">teste1</button>
<button routerLink="/emt-general">teste2</button> -->



</section>
