
<app-nav-login></app-nav-login>
<app-nav-admin></app-nav-admin>
<section style="margin-left:15%;padding:1px 16px;height:1000px;">
<div class="bg-s">

    <div class="login-page">
        <div class="form">
          <h2 style="color:#2eb872;">รายการสั่งซื้อ</h2>
          <form class="login-form">
            <input type="text" placeholder="ค้นหา"/>
            <button>ค้นหา</button>
          </form>
        </div>
      </div>

      <div class="bg-borad">
          <h3>รอจัดส่ง</h3><h1> 100 รายการ</h1>
        </div>

      <div class="bg-borad p2">
        <h3>จัดส่งแล้ว</h3><h1> 250 รายการ</h1>
      </div>


      <br>
      <br>

<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource_item_list">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> รหัส - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Customer-->
      <ng-container matColumnDef="name_customer">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - ลูกค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.name_customer}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> ราคา - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> ประเภท - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="many">
        <th mat-header-cell *matHeaderCellDef> จำนวน </th>
        <td mat-cell *matCellDef="let element"> {{element.many}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_item_list"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_item_list;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
</section>
