
<app-nav-login></app-nav-login>
<app-nav-employee-general></app-nav-employee-general>
<section style="margin-left:16%;padding:1px 16px;height:1000px;">


<h1 style="color: #2eb872">สวัสดีพนักงาน</h1>

<!-- <button routerLink="/customer">ลูกค้า</button>
<button routerLink="/shop-customer">ตระกร้าสินค้า</button>
<button>ข้อมูลลูกค้า</button>

<button mat-button style="background-color: #2eb872;color: white; position:absolute;" [matMenuTriggerFor]="menu">สาขา</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>กรุงเทพ</button>
  <button mat-menu-item>พิษณุโลก</button>
</mat-menu> -->
<div class="bg-page">
  <h3>จำนวนรายการจัดส่งทั้งหมด</h3>
  <div class="bg-borad">
    <h4>สินค้า</h4><h4> 9 รายการ</h4>
  </div>
  <br>
  <h3>จำนวนสินค้า</h3>
  <div class="bg-borad">
    <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
  </div>

<br>
<h3>จำนวนลูกค้าทั้งหมด</h3>
<div class="bg-borad">
  <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
</div>
</div>

<br>




</section>
