.bg-borad{
  position: relative;
  left: 10%;
  background-color: #2eb872;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 0.5%;
  width: 30%;
  text-align: center;

}

.bg-page{
  position: absolute;
  // background-color: black;
  width: 40%;
  left: 22%;
}

.bg-page.p1{
  left: 42%;
  // background-color: red;
}



h3{
  color: #2eb872;
}
