<app-nav-login></app-nav-login>
<app-nav-customer></app-nav-customer>

<section style="margin-left:18%;padding:1px 16px;">
<div >
  <h1 class="bg">ข้อมูลส่วนตัว</h1>
  <p>ชื่อ - นามสกุล :</p>
  <p>ชื่อบัญชี : </p>
  <p>อายุ : </p>
  <p>ที่อยู่ : </p>
  <p>อีเมล : </p>
  <p>เบอร์โทรศัพท์ : </p>


</div>

</section>
