<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul>
    <li><a routerLink="/admin">ทั่วไป</a></li>
    <li><a routerLink="/company">สาขา</a></li>
    <li><a routerLink="/item">สินค้า</a></li>
    <li><a routerLink="/employee">พนักงาน</a></li>
    <li><a routerLink="/item-list">รายการจัดส่ง</a></li>
</ul>
