<app-nav-login></app-nav-login>
<app-nav-employee-general></app-nav-employee-general>
<section style="margin-left:16%;padding:1px 16px;height:1000px;">

  <div class="bg-s">

      <div class="login-page">
        <div class="form">
          <h2 style="color:#2eb872;">รายการสินค้า</h2>
          <form class="login-form">
            <input type="text" placeholder="ค้นหา"/>
            <button>ค้นหา</button>
          </form>
        </div>
      </div>

  <div class="bg-borad">
    <h3>สินค้า</h3><h1> 9 ชิ้น</h1>
  </div>


<div class="mat-elevation-z8" >
<table mat-table [dataSource]="dataSource">

<!-- Position Column -->
<ng-container matColumnDef="position">
  <th mat-header-cell *matHeaderCellDef> รหัส - สินค้า </th>
  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> ชื่อ - สินค้า </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>

<!-- Name Cus -->
<ng-container matColumnDef="name_cus">
  <th mat-header-cell *matHeaderCellDef> ชื่อ - ลูกค้า </th>
  <td mat-cell *matCellDef="let element"> {{element.name_cus}} </td>
</ng-container>


<!-- Weight Column -->
<ng-container matColumnDef="weight">
  <th mat-header-cell *matHeaderCellDef> ราคา - สินค้า </th>
  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
</ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="symbol">
  <th mat-header-cell *matHeaderCellDef> ประเภท - สินค้า </th>
  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
</ng-container>

      <!-- Symbol Column -->
<ng-container matColumnDef="address">
  <th mat-header-cell *matHeaderCellDef> ที่จัดส่ง </th>
  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
</ng-container>


<!-- Symbol Column -->
<ng-container matColumnDef="company">
  <th mat-header-cell *matHeaderCellDef> สาขา </th>
  <td mat-cell *matCellDef="let element"> {{element.company}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>

</div>


</section>
