<app-nav-login></app-nav-login>
<app-nav-employee-transport></app-nav-employee-transport>
<section style="margin-left:16%;padding:1px 16px;height:1000px;">


<h1 style="color: #2eb872">สวัสดีพนักงานส่งของ</h1>

<div class="bg-page">
  <h3>จำนวนรายการจัดส่งทั้งหมด</h3>
  <div class="bg-borad">
    <h4>สินค้า</h4><h4> 9 รายการ</h4>
  </div>
  <br>
  <h3>จำนวนสินค้า</h3>
  <div class="bg-borad">
    <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
  </div>

<br>
<h3>จำนวนลูกค้าทั้งหมด</h3>
<div class="bg-borad">
  <h4>สินค้า</h4><h4> 9 ชิ้น</h4>
</div>
</div>

<br>




</section>
