.box-s{
  width: 80%;
  height: 220%;
  position: absolute;
  // background-color: black;
}

.example-header-image {
  background-size: 50px;
}


// ----------- ตำเเหน่งเมนู -------------
.p-c{
  position: absolute;
  margin-top: 0.5%;
  left:4.5%;
  top: 2%;
  width:22.5%;
  height: auto;


}

.p-c.p2{
  left:36.5%;

}

.p-c.p3{
  left: 68%;

}

.p-c.p4{
  left: 4.5%;
  top:32.5%;
  margin-top: 4%;

}
.p-c.p4.p5{
  left: 36.5%;
}

.p-c.p4.p6{
  left: 68%;
}

.p-c.p7{
  left: 4.5%;
  top: 63%;
  margin-top: 7%;
}

.p-c.p7.p8{
  left: 36.5%;
}

.p-c.p7.p9{
  left: 68%;
}
// ----------- ตัวอักษร -------------

.f-h{
  font-family: 'Kanit';
}


.example-margin {
  margin: 0 10px;
  margin-left: 2%;
}

.example-margin.p1{
  margin-left: 1%;
}


.example-small-box, .example-large-box {
  display: flex;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 2000px;
  width: 95%;
  padding-bottom: auto;
}

.example-large-box {
  height: 2000px;
  width: 95%;
}


// ----------

.form {
  position: relative;
}
.form input {
  font-family: 'Kanit', 'Verdana';
  outline: 0;
  background: white;
  width: 30%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

}
.form button {
  font-family: 'Kanit', 'Verdana';
  outline: 0;
  background: #2eb872;
  width: 10%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;

}
.form button:hover,.form button:active,.form button:focus {
  background: #2eb872;
}
