<app-nav-login></app-nav-login>
<app-nav-customer></app-nav-customer>

<section style="margin-left:16%;padding:1px 16px;height: 1000px;">



      <div class="login-page">
          <div class="form">
            <h2 style="color:#2eb872;">สินค้า</h2>
            <form class="login-form">
              <input type="text" placeholder="ค้นหา"/>
              <button> ค้นหา</button>
            </form>
          </div>
        </div>

        <button mat-button style="background-color: #2eb872;color: white; position:absolute; left: 90%;" [matMenuTriggerFor]="menu">สาขา</button>
<mat-menu #menu="matMenu">
  <button  mat-menu-item>กรุงเทพ</button>
  <button  mat-menu-item>พิษณุโลก</button>
</mat-menu>

<br>

        <mat-tab-group dynamicHeight>
            <mat-tab label="อาหารคาว">
              <div class="example-small-box mat-elevation-z4">


 <!-- 1. -->
 <mat-card class="p-c" >
    <mat-card-header>
      <mat-card-title class="f-h">ข้าวผัดปู</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD001
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
<!-- 2. -->
<mat-card class="example-card" class="p-c p2">
    <mat-card-header>
      <mat-card-title class="f-h">พะแนง</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD002
      </p>
      <p class="f-h">
          ราคา : 50 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
  <!-- 3. -->
<mat-card class="example-card" class="p-c p3">
    <mat-card-header>
      <mat-card-title class="f-h">ผัดไทยกุ้งสด</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/3.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD003
      </p>
      <p class="f-h">
          ราคา : 80 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
    <!-- 4. -->
<mat-card class="example-card" class="p-c p4">
    <mat-card-header>
      <mat-card-title class="f-h">หลนปู</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD004
      </p>
      <p class="f-h">
          ราคา : 100 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>
      <!-- 5. -->
<mat-card class="example-card" class="p-c p4 p5">
    <mat-card-header>
      <mat-card-title class="f-h">ข้าวซอย</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/5.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD005
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>

  <!-- 6. -->
<mat-card class="example-card" class="p-c p4 p6">
    <mat-card-header>
      <mat-card-title class="f-h">เขียวหวานไก่</mat-card-title>
      <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/imgs/6.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="f-h">
        รหัสสินค้า : BD006
      </p>
      <p class="f-h">
          ราคา : 60 บาท
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
      <button mat-button class="f-h">แชร์</button>
    </mat-card-actions>
  </mat-card>

  <!-- 7. -->
  <mat-card class="example-card" class="p-c p7">
      <mat-card-header>
        <mat-card-title class="f-h">กะเพรา</mat-card-title>
        <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/7.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="f-h">
          รหัสสินค้า : BD007
        </p>
        <p class="f-h">
            ราคา : 40 บาท
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
        <button mat-button class="f-h">แชร์</button>
      </mat-card-actions>
    </mat-card>

    <!-- 8. -->
  <mat-card class="example-card" class="p-c p7 p8">
      <mat-card-header>
        <mat-card-title class="f-h">ไข่ตุ๋น</mat-card-title>
        <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/imgs/8.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="f-h">
          รหัสสินค้า : BD008
        </p>
        <p class="f-h">
            ราคา : 40 บาท
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
        <button mat-button class="f-h">แชร์</button>
      </mat-card-actions>
    </mat-card>


    <!-- 9. -->
    <mat-card class="example-card" class="p-c p7 p9">
        <mat-card-header>
          <mat-card-title class="f-h">ก๋วยเตี๋ยวต้มยำ</mat-card-title>
          <mat-card-subtitle class="f-h">อาหารคาว</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/imgs/9.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="f-h">
            รหัสสินค้า : BD009
          </p>
          <p class="f-h">
              ราคา : 40 บาท
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
          <button mat-button class="f-h">แชร์</button>
        </mat-card-actions>
      </mat-card>


              </div>
            </mat-tab>
            <mat-tab label="อาหารหวาน">
              <div class="example-large-box mat-elevation-z4">
              <!-- 1. -->
              <mat-card class="p-c" >
                  <mat-card-header>
                    <mat-card-title class="f-h">ขนมถ้วย</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/1.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD011
                    </p>
                    <p class="f-h">
                        ราคา : 30 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>
              <!-- 2. -->
              <mat-card class="example-card" class="p-c p2">
                  <mat-card-header>
                    <mat-card-title class="f-h">ไอศกรีม</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/2.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD012
                    </p>
                    <p class="f-h">
                        ราคา : 50 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>
                <!-- 3. -->
              <mat-card class="example-card" class="p-c p3">
                  <mat-card-header>
                    <mat-card-title class="f-h">พุตดิ้ง</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/3.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD013
                    </p>
                    <p class="f-h">
                        ราคา : 30 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>
                  <!-- 4. -->
              <mat-card class="example-card" class="p-c p4">
                  <mat-card-header>
                    <mat-card-title class="f-h">ถาดไข่</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/4.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD014
                    </p>
                    <p class="f-h">
                        ราคา : 60 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>
                    <!-- 5. -->
              <mat-card class="example-card" class="p-c p4 p5">
                  <mat-card-header>
                    <mat-card-title class="f-h">กล้วยเชื่อม</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/5.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD015
                    </p>
                    <p class="f-h">
                        ราคา : 30 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>

                <!-- 6. -->
              <mat-card class="example-card" class="p-c p4 p6">
                  <mat-card-header>
                    <mat-card-title class="f-h">มันเชื่อม</mat-card-title>
                    <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="./assets/imgs/sweet/6.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p class="f-h">
                      รหัสสินค้า : BD016
                    </p>
                    <p class="f-h">
                        ราคา : 30 บาท
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                    <button mat-button class="f-h">แชร์</button>
                  </mat-card-actions>
                </mat-card>

                <!-- 7. -->
                <mat-card class="example-card" class="p-c p7">
                    <mat-card-header>
                      <mat-card-title class="f-h">ทองหยิบ</mat-card-title>
                      <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="./assets/imgs/sweet/7.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p class="f-h">
                        รหัสสินค้า : BD017
                      </p>
                      <p class="f-h">
                          ราคา : 40 บาท
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                      <button mat-button class="f-h">แชร์</button>
                    </mat-card-actions>
                  </mat-card>

                  <!-- 8. -->
                <mat-card class="example-card" class="p-c p7 p8">
                    <mat-card-header>
                      <mat-card-title class="f-h">บัวลอย</mat-card-title>
                      <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="./assets/imgs/sweet/8.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p class="f-h">
                        รหัสสินค้า : BD018
                      </p>
                      <p class="f-h">
                          ราคา : 40 บาท
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                      <button mat-button class="f-h">แชร์</button>
                    </mat-card-actions>
                  </mat-card>


                  <!-- 9. -->
                  <mat-card class="example-card" class="p-c p7 p9">
                      <mat-card-header>
                        <mat-card-title class="f-h">ข้าวเหนัยวดำกะทิ</mat-card-title>
                        <mat-card-subtitle class="f-h">อาหารหวาน</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="./assets/imgs/sweet/9.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <p class="f-h">
                          รหัสสินค้า : BD019
                        </p>
                        <p class="f-h">
                            ราคา : 40 บาท
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button style="background-color:#2eb872 ;font-family: 'Kanit';color: white;">เพิ่ม</button>
                        <button mat-button class="f-h">แชร์</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>



</section>

