/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('~@angular/material/prebuilt-themes/indigo-pink.css');
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin');


body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Kanit', 'Verdana';
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.4em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;

}


.bg-big{
  background: lighten(rgba(0, 0, 0, 0.100),50%);

}

html, body { height: 100%; }
body { margin: 0; }
