<app-nav></app-nav>
<section>
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
<div class="tb-row">
  <h1 class="wel-come">ยินดีต้อนรับ</h1>
  <h6 class="wel-come p1">กรุณาเข้าสู่ระบบหรือสมัครสมาชิก  เพื่อเลือกซื้อสินค้า</h6>

  <button  class="button" routerLink="/registor"><span>สมัครสมาชิก</span></button>

  <img class="pic-icon" src="./assets/icon/ton.png" >

  <br>

  <div>
    <div class="bg-bg">
      <h4 class="p-text">สะดวก</h4>
        <img  class="img-p1" src="./assets/icon/tik.svg" >
      </div>
      <div class="bg-bg p2">
        <h4 class="p-text">รวดเร็ว</h4>
        <img  class="img-p1" src="./assets/icon/truck.svg" >
      </div>
      <div class="bg-bg p3">
          <h4 class="p-text">ทันใจ</h4>
        <img  class="img-p1" src="./assets/icon/box-hand.svg" >
      </div>

  </div>

</div>
<img class="pic-icon-p2" src="./assets/icon/online-store.svg" >
<h1 class="wel-come p2">ง่ายๆ แค่ปลายนิ้ว</h1>
<h6 class="wel-come p3">เมื่อคุณหิว โปรดสั่งเรา รับประกันความอร่อย</h6>


</section>
<div class="footer">
    <footer>
    <div class="container">
      <div style="position: relative;left: 120%;" class="row">
        <div  class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">ช่องทางการติดต่อ &copy; เบอร์ - 0567741xxx
              <br>
       <a href="#">ช่องทางอื่นๆ</a>.
          </p>
        </div>

        <div   class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    </footer>
</div>
