
.tb-row{
  // background-color: black;
  width: 80%;
  height: 145%;
  position: absolute;
}

.bg-bg{
  position: absolute;
  background-color: #ffffff;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  left: 20%;
  top : 500px;
  box-shadow: 0 0 20px rgba(22, 22, 22, 0.250);


  // background: lighten(rgba(0, 0, 0, 0.048),10%);
}
.bg-bg.p2{
  left: 42.5%;
}
.bg-bg.p3{
  left: 65%;
}

.img-p1{
  width: 45%;
  margin-left: 25%;
  margin-top: -5%;
}
้
.text-p1{
  left: 5% ;
}

.wel-come{
  position: absolute;
  left:20%;
  top:80px;
  color: #2eb872;
  font-size: 50px;
}
.wel-come.p1{
  top: 150px;
  left: 15%;
  font-size: 20px;
}

.wel-come.p2{
  top: 925px;
  font-size: 40px;
  left: 50%;

}

.wel-come.p3{
  font-size: 20px;
  left: 50%;
  top: 970px;
}

.center{
  position: absolute;
  left: 30%;
}


//-----
.button {
  border-radius: 4px;
  background-color: #2eb872;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 22%;
  top: 250px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.pic-icon{
  position: absolute;
  left:45%;
}
.pic-icon-p2{
  position: relative;
  left: 20.5%;
  top: 800px;
  width: 22.5%;

}



//----
.p-text{
  position: relative;
  left:10%;
  color: #2eb872;
}

.footer {
  position: absolute;
  left: 0;
  top: 1400px;
  width: 100%;
  height: 25%;
  background-color:#2eb872;
  color: white;
  text-align: center;
}

// test
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

