table {
  width: 100%;
}

.bg-s{
  width: 80%;
  height: 120%;
  // background-color: black;
  position: absolute;
}

.mat-elevation-z8{
  position: relative;
  top: 35%;
  width: 90%;
  left: 5%;

}

// ------ แบบฟรอม ----
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin');

.login-page {
  width: 50%;
  padding: 2% 0 0;
  margin: auto;

}
.form {
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  left:5%;
}
.form input {
  font-family: 'Kanit', 'Verdana';
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;


}
.form button {
  font-family: 'Kanit', 'Verdana';
  text-transform: uppercase;
  outline: 0;
  background: #2eb872;
  width: 28%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  margin-right:2%;
}
.form button.p2 {
  background: #a3de83;
}
.form button.p3 {
  background: #fa4659;
}
// .form button:hover,.form button:active,.form button:focus {
//   background: #2eb872;
// }
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #2eb872;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

// --------- บอร์ด
.bg-borad{
  position: absolute;
  left: 35%;
  background-color: #2eb872;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2%;
  width: 25%;
  text-align: center;

}

.bg-borad.p2{
  background-color: #fa4659;
  left:65% ;

}
