<section>

<div class="bg-s">

    <div class="login-page">
        <div class="form">
          <h2 style="color:#2eb872;">บัญชีลูกค้า</h2>
          <form class="login-form">
            <input type="text" placeholder="ค้นหา"/>
            <button>ค้นหา</button>
          </form>
        </div>
      </div>

      <div class="bg-borad">
          <h3>ชาย</h3><h1> 4 คน</h1>
        </div>

      <div class="bg-borad p2">
        <h3>หญิง</h3><h1> 1 คน</h1>
      </div>




<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource_customer_list">

      <!-- Position Column -->
      <ng-container matColumnDef="id_customer">
        <th mat-header-cell *matHeaderCellDef> รหัส - ลูกค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.id_customer}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name_customer">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - ลูกค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.name_customer}} </td>
      </ng-container>

      <!-- Name Customer-->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> อายุ </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> เพศ </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_customer_list"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_customer_list;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
</section>
