table {
  width: 100%;
}

.bg-s{
  width: 80%;
  height: 120%;
  // background-color: black;
  position: absolute;
}

.mat-elevation-z8{
  position: relative;
  top: 0%;
  width: 90%;
  left: 5%;

}

.bt{
  font-family: 'Kanit', 'Verdana';
  text-transform: uppercase;
  outline: 0;
  background: #2eb872;
  width: 10%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
}

.bt.p2{
  background: #fa4659;
  left: 30%;

}
