<app-nav-login></app-nav-login>
<app-nav-customer></app-nav-customer>

<section style="margin-left:18%;padding:1px 16px;height: 1000px;">
  <h2 style="color:#2eb872;">ตระกล้าสินค้า</h2>

  <br>
  <br>
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource_shop_customer">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> รหัส - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> ชื่อ - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>



      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> ราคา - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> ประเภท - สินค้า </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="many">
        <th mat-header-cell *matHeaderCellDef> จำนวน </th>
        <td mat-cell *matCellDef="let element"> {{element.many}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns_shop_customer"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns_shop_customer;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
<br>
<br>
  <button class="bt">ยืนยัน</button>
  <button class="bt p2">ยกเลิก</button>

</section>
