<app-nav-login></app-nav-login>
<app-nav-customer></app-nav-customer>

<section style="margin-left:18%;padding:1px 16px;height: 1000px;">

  <h2 style="color: #2eb872">การรับสินค้า</h2>
  <mat-tab-group dynamicHeight>
    <mat-tab label="สถานะสินค้า">
      <div class="example-small-box mat-elevation-z4">

        <div class="mat-elevation" >
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> รหัส - สินค้า </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> ชื่อ - สินค้า </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> ราคา - สินค้า </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> ประเภท - สินค้า </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef> สาขา </th>
              <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="สินค้าที่จัดส่งแล้ว">
      <div class="example-large-box mat-elevation-z4">

              <div class="mat-elevation" >
                <table mat-table [dataSource]="dataSource1">

                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> รหัส - สินค้า </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> ชื่อ - สินค้า </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> ราคา - สินค้า </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> สถานะสินค้า</th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef> สาขา </th>
                    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
              </div>
            </div>

    </mat-tab>
  </mat-tab-group>
<br>
<br>
<button>ยืนยัน</button>

</section>
