.example-small-box, .example-large-box {
  display: flex;
  margin: 5px;
  padding: 2px;
  border-radius: 8px;
}

.example-small-box {
  height: 545px;
  width: 95%;
}

.example-large-box {
  height: 545px;
  width: 95%;
}

table {
  width: 100%;
}

.mat-elevation{
  position: relative;
  width: 100%;

}


button {
  font-family: 'Kanit', 'Verdana';
  text-transform: uppercase;
  outline: 0;
  background: #2eb872;
  width: 10%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

button:hover,button:active,button:focus {
  background: rgba(255, 255, 255, 0.900);
  color: #2eb872;
}
